# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

# NextAuth requires the following variables, NEXTAUTH_SECRET and NEXTAUTH_URL. NextAuth.js needs NEXTAUTH_SECRET
# environment variable to encrypt JWTs and to hash email verification tokens. NEXTAUTH_URL is used by NextAuth
# for redirections on login, etc.

NEXTAUTH_SECRET=secret
NEXTAUTH_URL=http://localhost:3000

# Created by Vercel CLI
POSTGRES_DATABASE="verceldb"
POSTGRES_HOST="***"
POSTGRES_PASSWORD="***"
POSTGRES_PRISMA_URL="postgres://default:***@***/verceldb?pgbouncer=true&connect_timeout=15&sslmode=require"
POSTGRES_URL="postgres://default:***@***/verceldb?sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://default:***@***/verceldb?sslmode=require"
POSTGRES_URL_NO_SSL="postgres://default:***@***/verceldb"
POSTGRES_USER="default"
